<div class="recipe-container">
  <user-recipe-header view-recipes="userRecipes" button="Return to Your Recipes"></user-recipe-header>
  <div class="col-lg-4 col-md-6 col-xs-12 recipe">
      <header class="text-center">
        <h2 id="recipe-title">{{ recipe.title }}</h2>
        <h5>{{ recipe.description}}</h5>
        <button class="btn user-recipes-btn" ng-click="enableAlex()">Enable Alex</button>
      </header>
      <hr />
      <div class="recipe-list">
        <h3>Ingredients</h3>
        <ul class="ingredient-list"> 
          <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
        </ul>
      </div>
      <hr />
      <div class="recipe-list">
        <h3>Directions</h3>
        <ul class="direction-list">
          <li ng-repeat="direction in recipe.directions">{{direction}}</li>
        </ul>
      </div>      
  </div>
</div>