#home {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url('background2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h2 {
    margin-top: 150px;
    text-align: center;
    color: white;
  }
  h4 {
    margin-top: 20px;
    text-align: center;
    color: white;
  }
}

.home-container {
	margin: 0 auto;
	width: 80%;
	margin-top: 30px;

}

.text-center {
  h3 {
    margin-bottom: 30px;
  }

  h4 {
    margin-bottom: 30px;
  }
}

.home-login-btns {
  button {
    width: 80%;
    margin-bottom: 20px;
    color: white;
    background: #6A6762;
    margin-top: 10px;
  }

  button:hover {
    background: white;
    color: #6A6762;
    border: 1px solid #6A6762;
  }
}

