.searched-recipes {
  height: 350px;
}

.recipe-info {
  float: left;
  margin-left: 30px;
}

.recipe-search {
   background: #ffffff;
   border: 1px solid #6A6762;
   border-radius: 5px;
   margin: 20px 0;
   h4 {
    font-weight: 900;
    color: #6A6762;
   }
}

.cancel-btn {
    color: white;
    background: #ff5050;
}

.cancel-btn:hover {
    background: white;
    color: #ff5050;
    border: 1px solid #ff5050;
  }

.save-btn {
    color: white;
    background: #33cc33;
}

.save-btn:hover {
    background: white;
    color: #33cc33;
    border: 1px solid #33cc33;
  }

.save-cancel-btns {
  margin: 20px 0
}  