* {
  box-sizing: border-box;
  font-family: 'Poiret One', serif;
}

body {
  background: #F5F5F5;
}

h1,h2,h3,h4,h5,h6 {
  color: #6A6762;
  font-weight: 900;
  margin-bottom: 20px;
}

a {
  color: #33cc33;
  font-weight: 700;
}
a:hover {
  text-decoration: none;
  color: #ff5050;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'user/main';
@import 'search/main';
